<footer class="site-footer">
  <div class="footer-wrapper">
    <div class="footer-content">
      <div class="footer-info">
        <p>{{ site.name }}</p>
        {%- if site.email -%}
        <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        {%- endif -%}
      </div>

      <div class="footer-links">
        {%- if site.github != "" -%}
        <a href="https://github.com/{{ site.github }}">GitHub</a>
        {%- endif -%}
        {%- if site.google_scholar != "" -%}
        <a href="{{ site.google_scholar }}">Scholar</a>
        {%- endif -%}
        {%- if site.orcid != "" -%}
        <a href="https://orcid.org/{{ site.orcid }}">ORCID</a>
        {%- endif -%}
        {%- if site.linkedin != "" -%}
        <a href="https://linkedin.com/in/{{ site.linkedin }}">LinkedIn</a>
        {%- endif -%}
      </div>
    </div>
  </div>
</footer>
